{extend name="laket-admin::common.layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">链接列表</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form lake-admin-search-form" method="get">
                <div class="layui-inline">
                    <input type="text" name="keyword" class="layui-input search-value lake-admin-search-value" placeholder="请输入关键词">
                </div>
                <div class="layui-inline">
                    <a href="javascript:;" class="layui-btn search-btn">搜索</a>
                </div>
                <div class="layui-inline">
                    <a href="javascript:;" class="layui-btn all-btn">全部</a>
                </div>
            </form>
        </blockquote>
    
        <table class="layui-hide" id="table" lay-filter="table"></table>
    </div>
</div>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-iframe" 
            title="添加链接"
            href="{:laket_route('admin.friendlink.add')}">添加链接</a>
    </div>
</script>
<script type="text/html" id="targetTpl">
    {{# if (d.target == '_self') { }}
        <span class="layui-badge layui-bg-cyan">本页面</span>
    {{# } }}
        
    {{# if (d.target == '_blank') { }}
        <span class="layui-badge layui-bg-blue">新页面</span>
    {{# } }}
        
    {{# if (d.target == '_parent') { }}
        <span class="layui-badge layui-bg-green">父窗口</span>
    {{# } }}
        
    {{# if (d.target == '_top') { }}
        <span class="layui-badge layui-bg-orange">顶层窗口</span>
    {{# } }}
</script>
<script type="text/html" id="cateTpl">
    {{ d.cate.title }}
</script>
<script type="text/html" id="addTimeTpl">
    {{ layui.util.toDateString(d.add_time * 1000) }}
</script>
<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" data-href="{:laket_route('admin.friendlink.status')}?id={{d.id}}" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="switchStatus" {{ d.status==1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="actionTpl">
    <a href='{:laket_route("admin.friendlink.edit")}?id={{ d.id }}' 
        title="编辑链接"
        class="layui-btn layui-btn-xs layui-iframe">编辑</a>
    <a href='{:laket_route("admin.friendlink.delete")}?id={{ d.id }}' 
        class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
</script>
{/block}

{block name="script"}
<script>
layui.use(['table', 'msg', 'notice'], function() {
    var table = layui.table,
        $ = layui.$,
        notice = layui.notice,
        form = layui.form;
    
    table.render({
        elem: '#table',
        toolbar: '#toolbar',
        url: '{:laket_route("admin.friendlink.index")}',
        cols: [
            [
                { field: 'id', width: 80, title: 'ID', align:"center" },
                { field: 'name', width: 150, title: '链接名称' },
                { field: 'url', title: '链接地址' },
                { field: 'target', width: 90, title: '跳转方式', templet: '#targetTpl' },
                { field: 'cate', width: 120, title: '分类名称', templet: '#cateTpl' },
                { field: 'sort', width: 70, title: '排序', align:"center", edit: 'text' },
                { field: 'add_time',width: 180, title: '创建时间', templet: '#addTimeTpl' },
                { field: 'status', width: 100, title: '状态', align:"center", templet: '#statusTpl', unresize: true },
                { fixed: 'right', title: '操作', width: 120, templet: '#actionTpl' }
            ]
        ]
    });
    
    $(".search-btn").on("click", function() {
        table.reload("table", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
                search_field: 'name',
                keyword: $(".lake-admin-search-value").val(),
            }
        })
    });
    
    $(".all-btn").on("click", function() {
        $(".lake-admin-search-value").val(''),
        
        table.reload("table", {
            page: {
                curr: 1
            },
            where: {
                search_field: 'title',
                keyword: $(".lake-admin-search-value").val(),
            }
        })
    });
    
    // 监听单元格编辑
    table.on('edit(table)', function(obj) {
        var value = obj.value,
            data = obj.data;
        
        $.post('{:laket_route("admin.friendlink.sort")}', { 
            'id': data.id, 
            'value': value, 
        }, function(data) {
            if (data.code == 1) {
                notice.success(data.msg);
            } else {
                notice.warning(data.msg);
            }

        })
    });

});
</script>
{/block}